.wrapper {
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.redd.it/tcj8tsfkyyq01.png");
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}